header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 8;
    background-color: rgba(0, 0, 0, 0.767);
    color: burlywood;
    border-bottom: 5px solid burlywood;
}
body {
    position: relative;
    min-height: 100vh;
    background-image: url('images/background.png');
    background-color: whitesmoke;
    background-size: cover;
}

img {
    width: 200px;
    height: 200px;
}

p {
    margin-top: 50px;
    font-size: 25px;
}

footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.767);
    color: burlywood;
    height: 20px;
    bottom: 0;
}

.pointsDiv {
    display: flex;
    justify-content: space-evenly;
}

.rockpaperscissor {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-bottom: 10px;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.playButton {
    width: 15%;
    height: 10%;
    border-radius: 10%;
    align-self: center;
    font-size: 25px;
    transition-duration: 1s;
}

.playButton:hover {
    border: 6px solid burlywood;
}

.clearResult {
    display: none;
}

.endWin {
    color: blue;
    font-size: 50px;
    padding: 20px 0;
    width: 80%;
    align-self: center;
}

.endLose {
    color: red;
    font-size: 50px;
    padding: 20px 0;
    width: 80%;
    align-self: center;
}

.playVsComp {
    background-color: rgb(100 100 100 / 10%);
    color: rgb(100, 100, 100);
    padding: 10px 0;
    width: 20%;
    align-self: center;
    margin: 25px 0;
}

.points {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    border-top: 1px solid burlywood;
    padding: 0;
}

#results {
    text-align: center;
    margin-top: 50px;
    font-size: x-large;
    font-weight: bold;

}

#results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
    color: burlywood;
}

#winPoints {
    color: blue;
}

#losePoints {
    color: red;
}

#rockH1 {
    color: burlywood;
}

#paperH1 {
    color: burlywood;
}

#scissorH1 {
    color:burlywood
}

#rock {
    border: 3px solid rgb(124, 70, 0);
}

#rock:hover {
    background-color: rgba(0, 255, 191, 0.158);
    border: 3px solid rgb(0, 255, 191);
    box-shadow: 20px 20px 40px rgba(0, 255, 191, 0.514);
    transition-duration: 1s;
}

#paper {
    border: 3px solid whitesmoke;
}

#paper:hover {
    background-color: rgba(0, 255, 191, 0.158);
    border: 3px solid rgb(0, 255, 191);
    box-shadow: 20px 20px 40px rgba(0, 255, 191, 0.514);
    transition-duration: 1s;
}

#scissor {
    border: 3px solid silver;
}

#scissor:hover {
    background-color: rgba(0, 255, 191, 0.158);
    border: 3px solid rgb(0, 255, 191);
    box-shadow: 20px 20px 40px rgba(0, 255, 191, 0.514);
    transition-duration: 1s;
}

#instruction {
    text-align: center;
    font-size: 30px;
    color: burlywood;
}

#instruction:hover {
    color: rgb(0, 255, 191)
}
